{{!
  @name input__button
  @param type
  @param class
  @param value
  @example {{>input__button context}}
}}
<button
  class="{{default this.class "btn"}}"
  type="{{default this.type "submit"}}"
  >{{this.value}}</button>