<header role="banner">
  <h1>Site Name</h1>
  <nav role="navigation">
    <h1 class="visuallyhidden">Main Navigation</h1>
  </nav>
</header>


<main class="main" role="main">
  <h1>Main Content</h1>

  {{>hoopla hoopla}}
</main>


<footer role="contentinfo">
  <p>&copy; 2014 Company Name</p>
</footer>

<script data-main="js/main" src="js/libs/requirejs/require.js"></script>
<script>
  // define settings for require
  define('settings', {
  });
</script>
