<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <meta name="description" content="{{description}}">

  <title>{{title}}</title>

  <!-- iOS icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/touch/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/touch/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/touch/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="images/touch/apple-touch-icon-57x57-precomposed.png">

  <!-- IE11+ browserconfig.xml -->
  <meta name="msapplication-config" content="browserconfig.xml" />

  <!-- Generic Icon -->
  <link rel="shortcut icon" href="images/touch/touch-icon-57x57.png">

  <!-- Chrome Add to Homescreen -->
  <link rel="shortcut icon" sizes="196x196" href="images/touch/touch-icon-196x196.png">
<!--[if lt IE 9]><link rel="stylesheet" href="css/app/app.ie8.css"><![endif]-->
  <!--[if gt IE 8]><!--><link rel="stylesheet" type="text/css" href="css/app/app.css" /><!--<![endif]-->
  <script src="js/libs/modernizr.js"></script>
</head>